<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Calculator</title>
</head>
<body>
<html th:include="_header"/>
<div class= "uk-position-medium uk-position-center-left uk-overlay uk-overlay-default">
    <h3 style="color: cadetblue">Calculator</h3>
    <form action="#" th:action="@{calculator}" th:object="${ModelAttributeOperation}" method="post">
        <div class="uk-margin">
            <div class="uk-inline">
                <label class="uk-form-label">First number</label>
                <br>
                <input class="uk-input" type="text" th:field="*{fNum}">
            </div>
            <p class="uk-text-meta" th:if="${#fields.hasErrors('fNum')}" th:errors="*{fNum}" style="color: coral"></p>
        </div>
        <div class="uk-margin">
            <div class="uk-inline">
                <label class="uk-form-label">Second number</label>
                <br>
                <input class="uk-input" type="text" th:field="*{sNum}">
            </div>
            <p class="uk-text-meta" th:if="${#fields.hasErrors('sNum')}" th:errors="*{sNum}" style="color: coral"></p>
        </div>
        <div class="uk-margin">
            <div class="uk-inline">
                <label class="uk-form-label">Operation</label>
                <br>
                <input class="uk-input" type="text" th:field="*{operation}">
            </div>
            <p class="uk-text-meta" th:if="${#fields.hasErrors('operation')}" th:errors="*{operation}" style="color: coral"></p>
        </div>
        <br>
        <button class="uk-button uk-button-default">Calculate</button>
    </form>
    <br>
</div>
<div class="uk-position-bottom-center" th:if="${result != null}">
    <p style="color: darkmagenta" th:text="'Result: '+${result}"></p>
</div>
</body>
</html>