<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Calculator history</title>
</head>
<body>
<html th:include="_header"/>
<div>
    <div class="uk-position-medium uk-position-center-left uk-overlay uk-overlay-default">
        <h1 class="uk-text-uppercase uk-text-light" style="color: cadetblue">Calculator history</h1>
    </div>
    <div class="uk-position-medium uk-position-center uk-overlay uk-overlay-default">
        <br>
        <ul class="uk-list uk-list-divider">
            <tr th:each="operation : ${calculatorHistory}">
                <li th:text="' '+${operation}"></li>
            </tr>
        </ul>
    </div>
</div>
</body>
</html>