<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
</head>
<body>
<html th:include="_header"/>
<div>
    <div class="uk-position-medium uk-position-center-left uk-overlay uk-overlay-default">
        <h1 class="uk-text-uppercase uk-text-light" style="color: cadetblue">Registration</h1>
    </div>
    <div class="uk-position-medium uk-position-center uk-overlay uk-overlay-default">
        <form action="#" th:action="@{registration}" th:object="${ModelAttribute}" method="post">
            <div class="uk-margin">
                <div class="uk-margin">
                    <label class="uk-form-label">Name</label>
                    <br>
                    <input class="uk-input uk-form-width-medium" type="text" th:field="*{name}" />
                </div>
                <p class="uk-text-meta" th:if="${#fields.hasErrors('name')}" th:errors="*{name}" style="color: coral"></p>
            </div>
            <div class="uk-margin">
                <div class="uk-margin">
                    <label class="uk-form-label">Login</label>
                    <br>
                    <input class="uk-input uk-form-width-medium" type="text" th:field="*{login}" />
                </div>
                <p class="uk-text-meta" th:if="${#fields.hasErrors('login')}" th:errors="*{login}" style="color: coral"></p>
            </div>

            <div class="uk-margin">
                <div class="uk-margin">
                    <label class="uk-form-label">Password</label>
                    <br>
                    <input class="uk-input uk-form-width-medium" type="password" th:field="*{password}"/>
                    <p class="uk-text-meta" th:if="${#fields.hasErrors('password')}" th:errors="*{password}" style="color: coral"></p>
                </div>
            </div>
            <button class="uk-button uk-button-default">Sing up</button>
        </form>
    </div>
</div>
</body>
</html>